* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins;
  outline: none;
}
html{
  scroll-behavior: smooth;
}
button{
  text-decoration: none;
  cursor: pointer;
  outline: none;
}

.wrap {
  width: 1200px;
  margin: 0 auto;
  padding-block: 30px 0;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 9px;

      img {
        width: 25px;
        height: 30px;


      }

      span {
        font-family: Poppins;
        font-size: 22px;
        font-weight: 700;
        color: #58A9A5;
      }
    }

    .center {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 80px;

      .link {
        font-family: Poppins;
        font-size: 15px;
        font-weight: 400;
color: #404242;
        text-align: left;
        text-decoration: none;
        position: relative;
      }

      .link::after {
        content: '';
        position: absolute;
        bottom: -4px;
        left: 10px;
        width: 0%;
        border-radius: 50px;
        border-bottom: 3px solid #FEC62D;
        transition: width 0.3s ease;

      }

      .link.active::after {
        color: #58A9A5;
        font-weight: 700;
        width: 50%;
      }

      .link.active {
        color: #58A9A5;
        font-weight: 600;
      }
    }

    .right {
      button {
        width: 170px;
        height: 50px;

        border-radius: 10px;
        border: 0;
        background: #58A9A5;
        color: white;
        font-size: 14px;

      }
    }
  }

  .promo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 40px 0;
    gap: 10%;

    .left-section {
      width: 50%;

      h2 {

        font-family: Poppins;
        font-size: 50px;
        font-weight: 700;
        width: 500px;

        color: #1C2323;
      }

      h4 {
        margin-block: 10px 0;
        font-family: Poppins;
        font-size: 18px;
        font-weight: 500;
        width: 450px;
        color: #404242;
      }

      button {
        width: 180px;
        height: 50px;
        border: 0;
        border-radius: 10px 10px 10px 0px;
        background: #58A9A5;
        margin-block: 20px 0;
        color: white;
        font-size: 16px;
        font-weight: 500;
      }
    }

    .right-section {
      display: flex;
      justify-content: center;
      align-items: center;
      /* margin-inline: 60px; */
      width: 40%;
      background: #CCF0E6;
      height: 420px;
      border-radius: 32% / 60%;
      transition: transform 2s;




      img {
        width: 85%;

        &:hover {
          transform: scale(1.03);
        }
      }
    }
  }

  .works {
    padding-block: 60px;
    position: relative;

    h2 {
      font-family: Poppins;
      font-size: 55px;
      font-weight: 800;
      text-align: center;
      color: #1C2323;
    }

    h4 {
      text-align: center;
      font-family: Poppins;
      font-size: 20px;
      font-weight: 400;
      margin-block: 0 40px;

      color: #404242;
    }

    .circle {
      position: absolute;
      right: 29%;
      bottom: 16%;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background-color: #FFFFFF66;
      display: flex;
      justify-content: center;
      align-items: center;

      .circle2 {
        width: 62px;
        height: 62px;
        border-radius: 50%;
        background-color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 28%;
          margin-right: -10px;
        }
      }
    }

  }

  .box_works {
    width: 100%;
    height: 250px;
    background-color: #CCF0E6;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;

  }

  .left-box {
    width: 68%;

    img {
      border-radius: 10px 0 0 10px;
      width: 100%;
      height: 250px;
      object-fit: cover
    }
  }

  .right-box {
    width: 32%;
    display: flex;
    justify-content: center;
    padding-inline: 60px;
    flex-direction: column;

    span {
      width: 250px;
      font-family: Poppins;
      font-size: 15px;
      font-weight: 500;

      text-align: left;
      color: #486958;
    }

    h3 {
      font-family: Poppins;
      font-size: 16px;
      font-weight: 700;
      margin-block: 20px 0;
      text-align: left;
      color: #486958;
    }
  }

  .promo-images {
    width: 100%;
    display: flex;
    gap: 10%;

    .img {
      width: 40%;

      img {
        width: 100%;
        height: 430px;
        border-radius: 5px;
      }
    }

    .texts {
      width: 50%;

      h3 {
        width: 350px;
        font-family: Poppins;
        font-size: 30px;
        font-weight: 700;

        text-align: left;
        color: #1C2323;
      }

      h4 {
        width: 430px;
        font-family: Poppins;
        font-size: 20px;
        font-weight: 500;
        margin-block: 40px 0;
        text-align: left;
        color: #486958;
      }
    }
  }

  .our-promo {
    padding-block: 60px;



    h2 {
      font-family: Poppins;
      font-size: 55px;
      font-weight: 800;
      text-align: center;
      color: #1C2323;
    }

    h4 {
      text-align: center;
      font-family: Poppins;
      font-size: 20px;
      font-weight: 400;
      margin-block: 0 40px;

      color: #404242;
    }

    .border {
      margin-inline: 46%;
      width: 80px;
      height: 3px;
      background-color: #58A9A5;
      margin-block: 5px;
    }

    .our-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-block: 30px 0;
      gap: 3%;

      .item {
        width: 31%;

        span {
          font-family: Poppins;
          font-size: 30px;
          font-weight: 700;

          text-align: left;
          color: #58A9A5;
        }

        p {
          font-family: Poppins;
          font-size: 16px;
          font-weight: 500;

          text-align: left;
          color: #486958;
        }

        .images {
          width: 97%;
          padding-block: 15px 0;

          img {
            width: 100%;
          }
        }
      }
    }

    .testimonial {
      padding-block: 80px 0;

      .box {
        display: flex;
        justify-content: space-between;
        align-items: center;

      }

      .testimonial2 {
        display: flex;
        width: 100%;
        height: 450px;
        background-color: #CCF0E6;
        border-radius: 10px;
        gap: 3%;

        .left-testi {
          width: 40%;
          height: 450px;

          img {
            width: 100%;
            height: 100%;
            border-radius: 10px 0 0 10px;
          }
        }

        .right-testi {
          width: 50%;
          position: relative;
          z-index: 1;

          img {
            width: 10%;
            position: absolute;
            top: 43%;
            left: 4.5%;
            z-index: -1;
          }

          h3 {
            width: 500px;
            margin-inline: 50px 0;
            margin-block: 50px 0;
            font-family: Poppins;
            font-size: 16px;
            font-weight: 500;
            text-align: left;
            color: #486958;
          }

          h5 {
            margin-inline: 50px 0;
            margin-block: 40px 0;
            font-family: Poppins;
            font-size: 18px;
            font-style: italic;
            font-weight: 500;
            text-align: left;
            color: #486958;
          }

          .dannie {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding-block: 40px 0;

            .elem {

              h2 {
                font-family: Poppins;
                font-size: 55px;
                font-weight: 800;
                text-align: left;
                color: #58A9A5;
              }

              p {

                font-family: Poppins;
                font-size: 16px;
                font-weight: 500;
                text-align: left;
                color: #58A9A5;
              }
            }
          }
        }
      }
    }
  }

  .contact {
    width: 100%;
    display: flex;
    padding-block: 20px;

    .left-contact {
      width: 35%;

      h2 {
        font-family: Poppins;
        font-size: 50px;
        font-weight: 800;
        line-height: 105px;
        text-align: left;
        color: #1C2323;
      }

      p {
        font-family: Poppins;
        font-size: 18px;
        font-weight: 500;
        line-height: 37.5px;
        text-align: left;
        color: #486958;
      }
    }

    .right-contact {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 30px;
      width: 65%;
      height: 290px;
      border: 2px solid #486958;
      border-radius: 3px;

      .send {
        display: flex;
        justify-content: end;
        align-items: center;
padding-block: 10px 0;
        button {
          width: 140px;
          color: white;
          font-size: 16px;
          border: 0;
          height: 45px;
          border-radius: 10px 10px 10px 0;
          background-color: #58A9A5;

        }
      }

      input {
        border-left: none;
        border-top: none;
        border-right: none;
        width: 100%;
        padding-block: 15px;
        outline: none;

        &::placeholder {
          font-family: Poppins;
          font-size: 17px;
          font-weight: 500;

          text-align: left;
          color: #486958;
        }
      }

      textarea {
        border-left: none;
        border-top: none;
        border-right: none;
        border-bottom: none;
        width: 100%;
        padding-block: 15px;
        height: 40px;
        outline: none;
        scrollbar-width: none;

        &::placeholder {

          font-size: 17px;
          font-weight: 500;

          text-align: left;
          color: #486958;
        }
      }
    }
  }
}